<div class="gift-details">

  <%= cl_image_tag @gift.image, id: 'imgift' %>

  <div class="gift-left-details">

    <h1 id= "giftname"><%= @gift.name.capitalize %></h1>
    <p id="price"><%= humanized_money_with_symbol(@gift.price) %></p>
    <p id="description"><%= @gift.description.capitalize %></p>

    <%= link_to 'Order now', new_gift_order_path(@gift), class: 'btn btn-primary' %>
  </div>

</div>






